body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
}

#removebtn {
    background: red;
}

#ok {
    background: rebeccapurple;
}

.to-do-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.to-do-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.to-do-list button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    gap: 33rem;
}

input[type="checkbox" i] {
    background-color: green;
    cursor: pointer;
    appearance: auto;
    box-sizing: border-box;
    margin: 13px 3px 3px 4px;
    padding: initial;
    border: initial;
}
li {
    list-style: none;
}


